@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: PressStart2P;
    src: url(../../public/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
  }

  @font-face {
    font-family: TurretRoad;
    src: url(../../public/fonts/Turret_Road/TurretRoad-Regular.ttf)
      format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: TurretRoad;
    src: url(../../public/fonts/Turret_Road/TurretRoad-ExtraBold.ttf)
      format("truetype");
    font-weight: 700;
  }

  @font-face {
    font-family: TurretRoad;
    src: url(../../public/fonts/Turret_Road/TurretRoad-Light.ttf)
      format("truetype");
    font-weight: 200;
  }
  @font-face {
    font-family: PixelifySansRegular;
    src: url(../../public/fonts/Pixelify_Sans/PixelifySans-Regular.ttf)
      format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: PixelifySansBold;
    src: url(../../public/fonts/Pixelify_Sans/PixelifySans-Bold.ttf)
      format("truetype");
    font-weight: 700;
  }

  @font-face {
    font-family: PixelifySansLight;
    src: url(../../public/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf)
      format("truetype");
    font-weight: 200;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  @apply bg-darkPurple;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
}

@layer base {
  @font-face {
    font-family: PressStart2P;
    src: url(../../public/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
  }

  @font-face {
    font-family: TurretRoad;
    src: url(../../public/fonts/Turret_Road/TurretRoad-Regular.ttf)
      format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: TurretRoad;
    src: url(../../public/fonts/Turret_Road/TurretRoad-ExtraBold.ttf)
      format("truetype");
    font-weight: 700;
  }

  @font-face {
    font-family: TurretRoad;
    src: url(../../public/fonts/Turret_Road/TurretRoad-Light.ttf)
      format("truetype");
    font-weight: 200;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 7px;
  margin-left: 7px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.4);
}
